* {
    margin: 0;
    padding: 0;
}

.header-1 {
    height: 20px;
    background-color: white;
    color: black;
    text-align: center;
    margin-top: 10px;
    font-size: larger;
    font-weight: bold;
}

.header-2 {
    margin-top: 20px;
    padding: 20px;
    /* height: 40px; */
    background-color: black;
    color: white;
}

.header-2 a {
    text-decoration: none;
    color: white;
    justify-content: space-around;
    font-size: larger;
    padding: 20px;
    margin-top: 40px;
}
.header-2-child {
    margin-left: 80%;
    margin-top: -40px;
}

.header-2-child i{
    padding:20px;
    font-size: large;
}

.section-1{
    height: 22vh;
    background-color: rgba(4, 32, 143, 0.858);
}
h1{
    color: white;
    text-align: center;
    font-size: x-large;
    padding-top: 10px;
}
h2{
    color: white;
    text-align: center;
    font-size: large;
    padding-top: 10px;
}
.section-1 p{
    color: white;
    text-align: center;
    font-size: large;
    padding-top: 10px;
}
.link {
     display: flex;
     margin-left: 41%;
     
}
.link a{
    color: white;
    padding: 10px;
}
h5{
    color: white;
    text-align: center;
}

.section-2{
    background-image:url(assets/image/backg.avif);
    background-size: cover;
    background-repeat: no-repeat;
   
    height: 80vh;
}

.section-2 h1{
    font-size: 35px;
    font-weight: bolder;
    word-spacing: 5px;
    letter-spacing:2px;
    text-align: start;
    color: black;
    padding-top: 18%;
    margin-left: 50px;
}
.section-2 h4{
    font-size:25px;
    color:rgba(0, 0, 0, 0.781);
    margin-left:15%;
    padding: 10px;
    letter-spacing: 2px;
}

.section-3{
    margin-top: 50px;
}
.section-3 h1{
    color: black;
    font-size: 30px;
    font-weight: bolder;
    word-spacing: 5px;
    letter-spacing:2px;
}

.rounds{
    display: flex;
    gap: 30px;
    padding-top: 15px;
    margin-left:15%;
    
}
.rounds img {
    height: 140px;
    width: 140px;
    border-radius: 50%;
    border: 2px solid orange;
    padding: 3px;
    justify-content: center;
}
.section-4{
    margin-top: 40px;
}
.section-4 h1{
    font-size: 32px;
    font-weight: 700;
    word-spacing: 5px;
    letter-spacing: 2px;
    color: black;
    text-align: center;
}
.section-4 p{
    text-align: center;
    font-size: larger;
    color: black;
    margin-top: 5px;
    font-weight: 300;
}
.boxes{
    display: flex;
    margin-top: 30px;
    justify-content: center;
    gap: 30px;
}
.image-1 img{
    width:400px;
    height:550px;
}
.image-2 img{
    width:400px;
    height:550px;
    
}
.image-3 img{
    width:400px;
    height:550px;
}
.image-1 h1{
    justify-content: center;
    color: black;
    font-weight: bolder;
    font-size:25px;
}
.image-2 h1{
    justify-content: center;
    color: black;
    font-weight: bolder;
    font-size: 25px;
}
.image-3 h1{
    justify-content: center;
    color: black;
    font-weight: bolder;
    font-size: 25px;
}
button{
      width: 192.88px;
      height: 40px;
      background-color: black;
      color: white;
      margin-top: 10px;
      font-size: large;
      font-weight: bolder;
}


.section-5{
    margin-top: 40px;
}
.section-5 h1{
    font-size: 32px;
    font-weight: 700;
    word-spacing: 5px;
    letter-spacing: 2px;
    color: black;
    text-align: center;
}
.section-5 p{
    text-align: center;
    font-size: larger;
    color: black;
    margin-top: 5px;
    font-weight: 300;
}

.boxes-2{
    display: flex;
    margin-top: 30px;
    justify-content: center;
    gap: 30px;
}
.image-4 img{
    width:400px;
    height:550px;
}
.image-5 img{
    width:400px;
    height:550px;
    
}
.image-6 img{
    width:400px;
    height:550px;
}
.image-4 h1{
    justify-content: center;
    color: black;
    font-weight: bolder;
    font-size:18px;
}
.image-5 h1{
    justify-content: center;
    color: black;
    font-weight: bolder;
    font-size: 18px;
}
.image-6 h1{
    justify-content: center;
    color: black;
    font-weight: bolder;
    font-size: 18px;
}

.footer{
    height:50vh;
    background-color: black;
    display: flex;
    margin-top: 50px;
}

.footer h1{
   color: white;
   text-align: start;
   margin-left:5px;
}
.footer a{
    color: white;
    font-size: 20px;
    line-height: 1.5;
    text-decoration: none;
    margin-top: 5px;
    display: flex;

}


.faa {
    
    margin-left: 150px;
    margin-top: 30px;
}


.faa-2 {
    margin-left: 150px;
    margin-top: 60px;
}

.faa-3 {
    margin-left: 150px;
    margin-top: 30px;
}

.faa-4{
    margin-left: 150px;
    margin-top: 30px;
}
.icons i{
    font-size: 40px;
    margin-top: 50px;
    padding: 10px;
}

@media screen and (max-width:768px){
    .header-1{
      display: none;
    }
    .header-2{
      display: none;
    }
    .header-2-child{
      display: none;
    }
    .section-1{
        max-width: 100%;
    }
    .link{
        display: flex;
        margin-left: 55px;
    }
    .rounds{
        display: flex;
        flex-direction: column;
        margin-left: 0;
        align-items: center;
    }
    .boxes,.boxes-2{
        display: flex;
        flex-direction: column;
    }
    .footer{
        height: 100%;
        display: flex;
        flex-direction: column;
    }
    .faa-4{
        margin-left: 140px
    }
    .section-4,.section-5 img{
        max-width: 100%;
        margin-left: 6px;

    }
    
}

